extends layout

block content
  div#characterHeader
    table
      tr
        th Name
        td= character.name
      tr
        th Title
        td= title
      tr
        th Age
        td= character.age
    div#status
      if service
        if action == 'draft'
          p= 'Failed to enlist in the ' + baseService.name + ' service.'
        else if term.musteredOut
          p= term.musteredOut + ' out of the ' + baseService.name + ' service.'
        else if term.rank == undefined
          p= 'Recently enlisted in the ' + baseService.name + ' service.'
        else
          p= 'Currently serving as a ' + title + ' in the ' + baseService.name + ' service.'
  div#characterStats
    table
      tr
        th Stat
        th Value
        th Modifier
        each stat in character.stats
          if stat
            tr
              th= stat.name
              td= stat.value
              td= stat.modifier
    if action != 'adolescent'
      div#characterSkills
        table
          tr
            th Skill
            th Rank
          each skill in character.skills
            if skill.specialty && skill.specialty.length > 0
              tr
                th= skill.name
                td= skill.rank
              each skSp in skill.specialty
                if skSp.rank >= 0
                  tr
                    th= '  (' + skSp.name + ')'
                    td= skSp.rank
            else
              tr
                th= skill.name
                td= skill.rank
  div
    form( action=('/character/'+character.id) method='post')
      if action == 'adolescent'
        p Select 3 Adolescent Skills
        select#adskillSelect(name='adskill' multiple='multiple' size=data.length)
          each skill in data
            option(value= skill.name)= skill.name
        button(disabled) Submit
      else
        if action == 'skill'
          p Please choose a skill type.
          select#tskillSelect(name='termskill')
            option(value='Personal Development') Personal Development
            option(value='Service Skills') Service Skills
            if baseService.higherEd && character.stats.find((e) => e.name.match('Education')).value >= 8
              option(value='Higher Education') Higher Education
            if baseService.officer && term.commissioned
              option(value='Officer') Officer
            if service.skills
              option(value= service.name )= service.name
          button(disabled) Submit
        else if action == 'enlist'
            p Please select a service in which to enlist.
            select#enrollmentSelect(name='enroll')
              each so in data
                if so.assignment && so.assignment.length > 0
                  optgroup(
                    label= so.name
                    title= so.description
                  )
                    each a in so.assignment
                      option(
                        value= so.name + ' (' + a.name + ')'
                        selected= service && a.name.match(service.name)
                        class= (service && a.name.match(service.name)) ? 'curServ' : 'difServ'
                        title= a.description
                      )= a.name
                else
                  option(
                    value= so.name
                    selected= service && so.name.match(service.name)
                    class= (service && so.name.match(service.name)) ? 'curServ' : 'difServ'
                    title= so.description
                  )= so.name
              option(value= 'Muster Out') Muster Out
            button#enrollButton()= (term && !term.musteredOut) ? 'Re-Enlist' : 'Submit'
        else if action == 'commission'
          p Try to become a commissioned officer?
          button(name='commission' value= 'true') Yes
          button(name='commission' value= false) No
        else if action == 'draft'
          p Choose to be a drifter or sign up for the draft.
          select#enrollmentSelect(name='enroll')
            each so in data
              option(
                value= so.name
                class= 'difServ'
                title= so.description
                )= so.name
            option(value= 'Draft') Draft
            option(value= 'Muster Out') Muster Out
          button#enrollButton()= 'Submit'
        else if action == 'specialty'
          p Choose a skill specialty
          select#enrollmentSelect(name='specialty')
            each sp in data.specialty
              option(value= (data.name + ' (' + sp.name + ')'))= sp.name
          button#enrollButton()= 'Submit'
        else
          p Why the heck did we get here?

  script.
    $(document).ready( function() {
        $('#adskillSelect').change( function() {
            if( 3 == $('#adskillSelect option:selected').length)
                $('button').removeAttr('disabled');
            else
                $('button').attr('disabled','disabled');
        });

        $('#tskillSelect').change( function() {
            if( $('#tskillSelect option:selected').length)
                $('button').removeAttr('disabled');
            else
                $('button').attr('disabled','disabled');
        });

        $('#enrollmentSelect').change( function() {
            var s = $('#enrollmentSelect option:selected');
            if( s && s.length) {
                $('#enrollButton').removeAttr('disabled');
                $('#enrollButton').text(s.hasClass('curServ') ? 'Re-Enlist' : 'Submit');
            } else {
                $('#enrollButton').attr('disabled','disabled');
                $('#enrollButton').text('Submit');
            }
        });
        
        $('button').attr('form',$('form:first').attr('id'));
    });
