extends layout

block content
  #navBar
    p Sign Up
    a(href="/")
      button.leftNavButton Cancel
    form( action="/user/new" method="post")
      fieldset
        p
            label(for="POST-username") Email
            input(
                id="POST-username"
                name="username"
                type="email"
                required="required"
                size="22"
                placeholder="username@domain.com"
            )
        p#errorP(class="errorString notShown") That username is already taken
        p
          label(for="POST-password") Password
          input(
            id="POST-password"
            name="password"
            type="password"
            size="22"
            required="required"
            placeholder="password"
          )
        p
          label(for="POST-verifyPassword") Verify Password
          input(
            id="POST-verifyPassword"
            name="verifyPassword"
            type="password"
            size="22"
            required="required"
            placeholder="password"
          )
        p
          button.rightForm Submit

  script.
    $(document).ready( function() {
        if( err)
            $('#errorP').removeClass('notShown');

        $('form').submit( function() {
            // validate form
            var good = true;

            var obj = $('input[id="POST-password"]');
            var x = obj.val();
            if( !x || x == "") {
                good = false;
                obj.addClass( 'inputError');
            } else
                obj.removeClass( 'inputError');

            obj = $('input[id="POST-verifyPassword"]');
            if( obj.val() != x ) {
                good = false;
                obj.addClass( 'inputError');
            } else
                obj. removeClass( 'inputError');

            return good;
        });
    });
